<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center flight-card-title"> Hotel Search</h1>
<div class="container" id="hotelForm">
    <div class="row">
        <!-- <p id="cityResult"></p> -->
        <form class="col s12">
            <div class="row">
                <div class="input-field col s11">
                    <input id="cityResult" type="text" class="validate" placeholder="City, State">
                    <label class="active" for="cityResult" value="">Current Location</label>
                </div>
                <div class="input-field col s1">
                    <button onclick="geoFindMe()" class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons">near_me</i>
                    </button><p id="out"></p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="checkin_date" type="text" class="datepicker" placeholder="DD/MM/YY">
                    <label for="checkin_date">Check-In</label>
                </div>
                <div class="input-field col s6">
                    <input id="checkout_date" type="text" class="datepicker" placeholder="DD/MM/YY">
                    <label for="checkout_date">Check-Out</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s6">
                <select>
                    <option value="" disabled selected>Number of Guests</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <label>Guests</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s6">
                <button id="hotelSearch" class="btn waves-effect waves-light btn-large" type="submit" name="action">Search
                </button>
            </div> 
        </div>
        <!-- hotel search button, not working -->
        <input id="hotelsSearch" class="btn waves-effect waves-light" type="button" onclick="submitHotelSearch()" value="Search">
        </form>
    </div>
</div> 

<!-- hotel search results -->
<div id="results" style="display:none">
    <div class="parallax-container">
            <div class="parallax"><img src="https://static1.squarespace.com/static/534ad50ae4b04a5110f5ae72/55364bdbe4b0b943e0b77258/55364bfae4b0a3636328deb5/1429621756419/21IMG_4136-Modifier-Modifier-4.jpg"></div>
    </div>
    <div class="container" style="margin-bottom: 30px">
            <div id="flight-card" class="card teal lighten-1">
                <div class="card-header teal lighten-1">
                        <div class="card-title">
                            <h4 class="white-text flight-card-title" style="margin-left: 30px">Hotels Near You</h4>
                        </div>
                    </div>
        <button id="hotelEdit" class="btn waves-effect waves-light btn-large amber" type="submit" name="action">Edit Search</button>
</div>

<!-- geolocator test -->
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
//   var geocoder;
var hotelSearchResults;
function submitHotelSearch() { 
    fetch('/hotels/search', {
        method: 'POST',
        credentials: 'include',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ location: $('#cityResult'), check_in: $('#checkin_date').val(), check_out: $('#checkout_date').val() })
    })
    .then(res => res.json())
    .then(data => {
        hotelSearchResults = data;
        screenMode = "hotelsView";
        console.log(hotelSearchResults);
    });
}

</script> 
</head>

<script src="/javascripts/autofill.js"></script>
<script src="/javascripts/datepicker.js"></script>

<%- include ../footer.ejs %>