</main>
<footer>
  <div class="footer-copyright">
    <div class="container white-text">
      © 2017 Copyright Let's Fly
      <a class="white-text text-lighten-4 right" href="/trips">Dashboard&nbsp;&nbsp;</a>
      <a class="white-text text-lighten-4 right" href="#!">Random Vacation &nbsp;&nbsp;</a> 
      <a class="white-text text-lighten-4 right" href="/flights/search">Trip Search&nbsp;&nbsp;</a>
    </div>
  </div>
</footer>

</body>
</html>