<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
  flex: 1 0 auto;
}
</style>

</main>
<footer>
  <div class="footer-copyright">
    <div class="container white-text">
      © 2017 Copyright Let's Fly
      <a class="white-text text-lighten-4 right" href="#!">Random Vacation &nbsp;&nbsp;</a> 
      <a class="white-text text-lighten-4 right" href="/hotels/search">Hotel Search&nbsp;&nbsp;</a> 
      <a class="white-text text-lighten-4 right" href="/flights/search">Flight Search&nbsp;&nbsp;</a>
    </div>
  </div>
</footer>

</body>
</html>