<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  <body class="bg">
    <div>
      <a class="waves-effect waves-light btn">Missed My Flight</a>
      <a class="waves-effect waves-light btn">Random Vacation</a>
    </div>

     
    </body>
</html>

