/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.bg {
  background-image: url("https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/letsFly/egzon-bytyqi-310216.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important; 
  background-color: rgb(173, 173, 173);
  /* background-blend-mode: multiply; */
}
#logo img{
  max-width: 300px;
  max-height: 390px;
  align-content: center;
  margin: 60px;
}
nav, footer{
  background-color: #68B3AB !important;
}
/* @media only screen and (min-width: 400px) {
  .bg {
    background-image: url("https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/letsFly/egzon-bytyqi-310216.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
} */