<%- include ../header.ejs %>

  <section id="search">
    <div class="container">
      <div class="row">
        <h1 class="deep-orange-text text-lighten-1 center flight-card-title">Seek Inspiration</h1>
      </div>
      <div class="divider"></div>
      <div class="row" id="image-container"><img id="random" class="col s12 responsive-img" src=""></div>
      <div class="row">
        <form class="col s12" action="/inspirations" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="departure-city" type="text" class="autocomplete validate">
              <label for="departure-city">Departure City</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button id="inspiration-search" type="button" onclick="submitInspirationSearch()" class="btn waves-effect waves-light col s4 btn-large">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="destination-display">
      <!-- destination view template inserted here -->
  </section>

  <!-- underscore template for destination view -->
  <script type="text/template" id="destination-template">
    <div class="parallax-container">
      <div class="parallax"><img src="<%%= currentDestination.photos[0].image_url %>"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <div class="row">
          <%% currentDestination.photos.forEach((photo, index) => { %>
            <%% if (index != 0) { %>
            <div class="col s1">
              <img src="<%%= photo.image_url %>" class="materialboxed responsive-img"> 
            </div>
            <%% } %>
          <%% }); %>
        </div>
        <div class="row">
          <h2 class="header"><%%= currentDestination.city.name %></h2>
          <p class="grey-text text-darken-3 lighten-3"><%%= currentDestination.description.query.pages[Object.keys(currentDestination.description.query.pages)[0]].extract %></p>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn click-to-toggle">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a id="new-destination" class="btn-floating teal lighten-1" onclick="showNewDestination()" style="display:none"><i class="material-icons">autorenew</i></a></li>
        <li><a id="choose-destination" class="btn-floating cyan darken-2" href="/trips/new?destination=(<%%= currentDestination.destination %>)&origin=(<%%= origin %>)"><i class="material-icons">airplanemode_active</i></a></li>
        <li><a id="edit-search" class="btn-floating deep-orange lighten-1" onclick="editSearch()"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
  </script>

</main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src="/javascripts/autofill.js"></script>
<script src="/javascripts/inspirations.js"></script>

<%- include ../footer.ejs %>