<%- include ../header.ejs %>
  <section id="search">
    <div class="container">
      <div class="row">
        <h1 class="deep-orange-text text-lighten-1 center flight-card-title">Seek Inspiration</h1>
      </div>
      <div class="divider"></div>
      <div class="row" id="image-container"><img id="random" class="col s12 responsive-img" src=""></div>
      <div class="row">
        <form class="col s12" action="/inspirations" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="departure-city" type="text" class="validate">
              <label for="departure-city">Departure City</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button id="inspiration-search" type="button" onclick="submitInspirationSearch()" class="btn waves-effect waves-light col s4 btn-large">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="destination-display">
      <!-- destination view template inserted here -->
  </section>

  <!-- underscore template for destination view -->
  <script type="text/template" id="destination-template">
      <div class="parallax-container">
        <div class="parallax"><img src="https://i.imgur.com/DtAdAcZ.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <button id="edit-search" onclick="editSearch()" class="btn">Edit Search!</button>
          <button id="new-destination" onclick="showNewDestination()" class="btn" style="display:none">New Destination!</button>
          <a href="/trips/new?destination=(<%%= currentDestination.destination %>)" id="choose-destination" class="btn">Choose Destination!</a>
          <h2 class="header"><%%= currentDestination.city.name %></h2>
          <p class="grey-text text-darken-3 lighten-3"><%%= currentDestination.description.query.pages[Object.keys(currentDestination.description.query.pages)[0]].extract %></p>
        </div>
      </div>
  </script>

</main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script>
  var destinationResults;
  var currentDestination;
  var currentDestinationIndex;
  var nextDestination;
  var nextDetinationIndex;
  var destinationDetails;
  var screenMode = "search";
  var template = _.template($('#destination-template').html());
  
  var preloader = `<div class="progress">
    <div class="indeterminate"></div>
    </div> `;
    
  
  $('#image-container').ready(() => {
    var random = Math.floor(Math.random() * 9) + 0;
    var bigSize = ['https://i.imgur.com/nruvJeb.jpg', 'https://i.imgur.com/wAsxQzx.jpg', 'https://i.imgur.com/7atabBq.jpg', 'https://i.imgur.com/qDiMxsG.jpg', 'https://i.imgur.com/ugoD6Ng.jpg', 'https://i.imgur.com/GgXgiJD.jpg', 'https://i.imgur.com/nruvJeb.jpg', 'https://i.imgur.com/lxJP0AC.jpg', 'https://i.imgur.com/qff3Lhs.jpg'];
    $("#random").attr("src", bigSize[random]);
  });


  function render() {
    if (screenMode === "search") {
      return;
    } else if (screenMode === "destinationView") {
      $('#search').hide();
      $('#inspiration-search').html('Search');
      $('#destination-display').html(template({currentDestination})).show();
      console.log(currentDestination);
      $('.parallax').parallax();
      preloadNextDestination();
    } else if (screenMode === "editSearch") {
      $('#search').show();
      $('#destination-display').hide();
    }
  }
  
  function submitInspirationSearch() { 
    if ( !$('#departure-city').val() ) return;
    $('#inspiration-search').html(preloader);
    
    fetch('/inspirations/search', {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ origin: $('#departure-city').val() })
    })
    .then(res => res.json())
    .then(data => {
      destinationResults = data.results;
      currentDestinationIndex = 0;
      currentDestination = destinationResults[currentDestinationIndex];
      screenMode = "destinationView";
      render();
    });
  }

  function preloadNextDestination() {
    if (currentDestinationIndex === destinationResults.length - 1) {
      nextDetinationIndex = 0;
    } else {
      nextDetinationIndex = currentDestinationIndex + 1;
    }
    nextDestination = destinationResults[nextDetinationIndex];
    fetch('/inspirations/new', {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({nextDestination})
    })
    .then(res => res.json())
    .then(data => {
      nextDestination = destinationResults[nextDetinationIndex] = data;
      $('#new-destination').show();
    });
  }

  function showNewDestination() {
    currentDestinationIndex = nextDetinationIndex
    currentDestination = nextDestination;
    screenMode = "destinationView";
    render();
  }

  function editSearch() {
    screenMode = "editSearch";
    render();
  }
</script>

<%- include ../footer.ejs %>