<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center flight-card-title"><%= user.name %>'s Dashboard</h1>
<div class="container" style="margin-bottom: 50px">
    <div class="card cyan darken-3">
        <div class="card-header cyan darken-3">
            <div class="card-title">
                <h4 class="white-text flight-card-title" style="margin-left: 30px">Upcoming Flights</h4>
                <p class="white-text" style="margin-left: 30px">Thur June 18, 2018</p>
            </div>
        </div>
        <div class="card-content-bg white-text">
            <div class="card-content cyan darken-2">
                <div class="row">
                    <div class="col s4 center-align">
                        <div class="flight-state">
                            <h4 class="white-text" style="margin-bottom: 5px">LDN</h4>
                            <p class="white-text">London</p>
                        </div>
                    </div>
                    <div class="col s4 center-align">
                            <i class="medium material-icons white-text" style="transform: rotate(90deg)">flight</i>
                    </div>
                    <div class="col s4 center-align">
                        <div class="flight-state">
                            <h4 class="white-text" style="margin-bottom: 5px">LAX</h4>
                            <p class="white-text">Los Angeles</p>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col s4 center-align">
                        <div class="flight-info">
                            <p class="white-text">Depart: 10:00pm</p>
                            <p class="white-text">Airline: Alaska</p>
                            <p class="white-text">Terminal: 8</p>
                        </div>
                    </div>
                    <div class="col s4 center-align">
                            <i class="medium material-icons white-text"></i>
                    </div>
                    <div class="col s4 center-align flight-state-two">
                        <div class="flight-info">
                            <p class="white-text">Arrive: 10:00pm</p>
                            <p class="white-text">Airline: Alaska</p>
                            <p class="white-text">Terminal: 8</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 30px">
    <div id="flight-card" class="card teal lighten-1">
        <div class="card-header teal lighten-1">
            <div class="card-title">
                <h4 class="white-text flight-card-title" style="margin-left: 30px">Past Trips</h4>
            </div>
        </div>
        <table class="highlight responsive-table centered teal lighten-2">
            <thead class="white-text">
                <tr>
                    <th>Depart</th>
                    <th>Arrive</th>
                    <th>Airline</th>
                    <th>Rates</th>
                </tr>
            </thead>
            <tbody class="white-text">
                <tr>
                    <td>LDN</td>
                    <td>SFO</td>
                    <td>Alaska</td>
                    <td>$120.87</td>
                </tr>
                <tr>
                    <td>LAX</td>
                    <td>TOK</td>
                    <td>Delta</td>
                    <td>$540.76</td>
                </tr>
                <tr>
                    <td>CHI</td>
                    <td>JFK</td>
                    <td>Jet Blue</td>
                    <td>$140.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include ../footer.ejs %>