<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center"> Flight Search</h1>
<div class="container" id="flightForm">
    <div class="row">
        <form class="col s12">
            <div class="row city">
                <div class="input-field col s12">
                    <input placeholder="" id="departure-city" type="text" class="autocomplete validate">
                    <label class="active" for="departure-city">Departure City</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="destination" type="text" class="autocomplete validate">
                        <label for="destination">Destination</label>
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="departure-date" type="text" class="datepicker">
                    <label for="departure-date">Departure Date</label>
                </div>
                <div class="input-field col s6">
                    <input id="return-date" type="text" class="datepicker">
                    <label for="return-date">Return Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="adults">
                        <option value="" disabled selected>Number of Travelers</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label>Travelers</label>
                </div>
            </div>
            <div class="row">
                <button id="flight-search" type="button" class="btn waves-effect waves-light col s4" onclick="submitFlightSearch()">Search</button>
            </div>
        </form>
    </div>
</div>

<!-- search results -->

<div class="divider"></div>

<section style="display:none" class="container" id="results">
    <section id="flights-display">
                
    </section>
        
    <div class="row">
        <div class="col s12">
            <button id="flightEdit" class="btn waves-effect waves-light" type="submit" name="action" style="display:none">Edit</button>
        </div>
    </div>
</section>

<!-- need to make a _ template -->
<script type="text/template" id="flights-template">
<!-- iterate over flights array, iteneraries -->
<div class="row">
    <h1>Flights</h1>
    <div class="divider"></div>
    <h4>Itineraries</h4>
</div>
<%% flightSearchResults.results.forEach(result => { %>
    <%% result.itineraries.forEach(itinerary => { %>
        <div class ="row">
            <div id="flight-card" class="card cyan darken-3 col s12 m5">
                <div class="card-header cyan darken-3">
                    <div class="card-title">
                        <h4 class="white-text flight-card-title" style="margin-left: 30px">Outbound</h4>
                    </div>
                </div>
                <div class="card-content-bg white-text">
                    <div class="card-content cyan darken-2">
                        <%% itinerary.outbound.flights.forEach(flight => { %>
                            <div class="row">
                                <div class="col s4 center-align">
                                    <div class="flight-state">
                                        <h4 class="white-text" style="margin-bottom: 5px"><%%= flight.origin.airport %></h4>
                                        <p class="white-text"><%%= flight.flight_number %></p>
                                    </div>
                                </div>
                                <div class="col s4 center-align">
                                        <i class="medium material-icons white-text" style="transform: rotate(90deg)">flight</i>
                                </div>
                                <div class="col s4 center-align">
                                    <div class="flight-state">
                                        <h4 class="white-text" style="margin-bottom: 5px"><%%= flight.destination.airport %></h4>
                                    </div>
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col s4 center-align">
                                    <div class="flight-info">
                                        <p class="white-text">Departs: <%%= flight.departs_at %></p>
                                        <p class="white-text">Airline: <%%= flight.marketing_airline %></p>
                                        <p class="white-text">Terminal: <%%= flight.origin.terminal %></p>
                                    </div>
                                </div>
                                <div class="col s4 center-align">
                                        <i class="medium material-icons white-text"></i>
                                </div>
                                <div class="col s4 center-align flight-state-two">
                                    <div class="flight-info">
                                        <p class="white-text">Arrives: <%%= flight.arrives_at %></p>
                                        <p class="white-text">Terminal: <%%= flight.destination.terminal %></p>
                                    </div>
                                </div>
                            </div>
                        <%% }) %>                            
                    </div>
                </div>
            </div>
            <div id="flight-card" class="card amber darken-3 col s12 m5">
                <div class="card-header amber darken-3">
                    <div class="card-title">
                        <h4 class="white-text flight-card-title" style="margin-left: 30px">Inbound</h4>
                    </div>
                </div>
                <div class="card-content-bg white-text">
                    <div class="card-content cyan darken-2">
                        <%% itinerary.inbound.flights.forEach(flight => { %>
                            <div class="row">
                                <div class="col s4 center-align">
                                    <div class="flight-state">
                                        <h4 class="white-text" style="margin-bottom: 5px"><%%= flight.origin.airport %></h4>
                                        <p class="white-text"><%%= flight.flight_number %></p>
                                    </div>
                                </div>
                                <div class="col s4 center-align">
                                        <i class="medium material-icons white-text" style="transform: rotate(90deg)">flight</i>
                                </div>
                                <div class="col s4 center-align">
                                    <div class="flight-state">
                                        <h4 class="white-text" style="margin-bottom: 5px"><%%= flight.destination.airport %></h4>
                                    </div>
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col s4 center-align">
                                    <div class="flight-info">
                                        <p class="white-text">Departs: <%%= flight.departs_at %></p>
                                        <p class="white-text">Airline: <%%= flight.marketing_airline %></p>
                                        <p class="white-text">Terminal: <%%= flight.origin.terminal %></p>
                                    </div>
                                </div>
                                <div class="col s4 center-align">
                                        <i class="medium material-icons white-text"></i>
                                </div>
                                <div class="col s4 center-align flight-state-two">
                                    <div class="flight-info">
                                        <p class="white-text">Arrives: <%%= flight.arrives_at %></p>
                                        <p class="white-text">Terminal: <%%= flight.destination.terminal %></p>
                                    </div>
                                </div>
                            </div>
                        <%% }) %>                            
                    </div>
                </div>
            </div>
            <div class="col s12 m2">
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                <p>$<%%= result.fare.total_price %></p>
            </div>
        </div>
    <%% }) %>
<%% }) %>

    
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script>

    var flightSearchResults;
    var screenMode = "search";
    var template = _.template($('#flights-template').html());

    var preloader = `<div class="progress">
            <div class="indeterminate"></div>
        </div> `;

    function render() {
        if (screenMode === "search") {
      return;
        } else if (screenMode === "flightsView") {
            $('#flights-display').html(template({flightSearchResults}));
            $('#flightForm').hide();
            $('#flight-search').html('Search');
            $('#results').show();
            $("#flightEdit").show();
        } else if (screenMode === "editSearch") {
            $('#flightForm').show();
            $('#results').hide();
            $("#flightEdit").hide();
        }
    }

    $(document).ready(function() {
        $("#flightEdit").on('click', function(e) {
            screenMode = "editSearch";
            render();
        });
    });
</script>

<script src="/javascripts/autofill.js"></script> 
<script src="/javascripts/datepicker.js"></script>

<%- include ../footer.ejs %>  
