<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center"> Flight Search</h1>
<div class="container" id="flightForm">
    <div class="row">
        <form class="col s12">
            <div class="row city">
                <div class="input-field col s12">
                    <input placeholder="" id="departure-city" type="text" class="autocomplete_dep validate">
                    <label class="active" for="departure-city">Departure City</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="destination" type="text" class="autocomplete_d validate">
                        <label for="destination">Destination</label>
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="departure-date" type="text" class="datepicker">
                    <label for="departure-date">Departure Date</label>
                </div>
                <div class="input-field col s6">
                    <input id="return-date" type="text" class="datepicker">
                    <label for="return-date">Return Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="adults">
                        <option value="" disabled selected>Number of Travelers</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label>Travelers</label>
                </div>
            </div>
            <div class="row">
                <input id="flightSearch" class="btn waves-effect waves-light" type="button" onclick="submitFlightSearch()" value="Search">
            </div>
        </form>
    </div>
</div>

<!-- search results -->

    <div class="divider"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div id="results" style="display:none">Search results populate here</div>
        </div>
            <div class="row">
                <div class="col s12">
                    <button id="flightEdit" class="btn waves-effect waves-light" type="submit" name="action" style="display:none">Edit</button>
                </div>
            </div>
    </div>   
</div>

<!-- need to make a _ template -->

<script src="/javascripts/autofill.js"></script>
<script src="/javascripts/datepicker.js"></script>
<script src="/javascripts/showFlightResults.js"></script>

<script>
    var flightSearchResults;

      function submitFlightSearch() { 
    // if ( !$('#departure-city').val() || !$('#arrival-city').val() || !$('#departure-date').val() || !$('#return-date').val() || !$('#adults').val() ) return;
    console.log("WOrking");
    fetch('/flights/search', {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ origin: $('#departure-city').val(), destination: $('#destination').val(), departureDate: $('#departure-date').val(), returnDate: $('#return-date').val(), adults: $('#adults').val() })
    })
    .then(res => res.json())
    .then(data => {
        flightSearchResults = data;
        console.log(flightSearchResults);
    });
  }


</script>

  <%- include ../footer.ejs %>  
