<%- include ../header.ejs %>

<div class="container" id="flightForm">
    <h1 class="deep-orange-text text-lighten-1 center flight-card-title">Trip Search</h1>
    <div class="row">
        <form action="/trips/flights/results" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="departure-city" type="text" class="autocomplete validate" name="departureCity">
                    <label for="departure-city">Departure City</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="destination" type="text" class="autocomplete validate" name="arrivalCity">
                        <label for="destination">Destination</label>
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="departure-date" type="text" class="datepicker" name="departureDate">
                    <label for="departure-date">Departure Date</label>
                </div>
                <div class="input-field col s6">
                    <input id="return-date" type="text" class="datepicker" name="returnDate">
                    <label for="return-date">Return Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="adults" name="travelers">
                        <option value="" disabled selected>Number of Travelers</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label>Travelers</label>
                </div>
            </div>
            <div class="row">
                <button id="flight-search" type="submit" class="btn waves-effect waves-light col s4 btn-large" name="action">Search</button>
            </div>
        </form>
    </div>
</div>


<script src="/javascripts/autofill.js"></script> 
<script src="/javascripts/datepicker.js"></script>
<script src="/javascripts/flightSearch.js"></script>

<%- include ../footer.ejs %>  
