<%- include ../header.ejs %>

<h1 class="deep-orange-text text-lighten-1 center"> Flight Search</h1>
<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="" type="text" class="validate">
                    <label for="dep_city">Departure City</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="arrival_city" type="text" class="validate">
                        <label for="arrival_city">Arrival City</label>
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="dep_date" type="text" class="datepicker">
                    <label for="dep_date">Departure Date</label>
                </div>
            <div class="input-field col s6">
                <input id="ret_date" type="text" class="datepicker">
                <label for="ret_date">Return Date</label>
            </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Number of Travelers</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label>Travelers</label>
                </div>
            </div>
            <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right"></i>
            </button>
            </div>
        </form>
    </div>
    <div class="divider"></div>
</div>


<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });

    $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%- include ../footer.ejs %>