<%- include ../header.ejs %>
<main></main>
  <section id="search">
    <div class="container">
      <div class="row">
        <form class="col s12" action="/inspirations" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input id="departure-city" type="text" class="validate">
              <label for="departure-city">Departure City</label>
            </div>
            <div class="input-field col s6">
              <input id="destination" type="text" class="validate">
              <label for="destination">Destination (Optional)</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <input type="button" onclick="submitInspirationSearch()" class="btn white-text" value="Search!">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="destination-display">
      <!-- destination -->
  </section>

  <!-- underscore template for destination view -->
  <script type="text/template" id="destination-template">
      <div class="parallax-container">
        <div class="parallax"><img src="https://i.imgur.com/DtAdAcZ.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <button id="edit-search" onclick="editSearch()" class="btn">Edit Search!</button>
          <button id="new-destination" onclick="showNewDestination()" class="btn" style="display:none">New Destination!</button>
          <button id="choose-destination" onclick="chooseDestination()" class="btn">Edit Search!</button>
          <h2 class="header"><%%= currentDestination.city.name %></h2>
          <p class="grey-text text-darken-3 lighten-3"><%%= currentDestination.description.query.pages[Object.keys(currentDestination.description.query.pages)[0]].extract %></p>
        </div>
      </div>
  </script>

</main>





<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script>
  var destinationResults;
  var currentDestination;
  var currentDestinationIndex;
  var nextDestination;
  var nextDetinationIndex;
  var destinationDetails;
  var screenMode = "search";
  var template = _.template($('#destination-template').html());

  

  function render() {
    if (screenMode === "search") {
      return;
    } else if (screenMode === "destinationView") {
      $('#search').hide();
      $('#destination-display').html(template({currentDestination})).show();
      $('.parallax').parallax();
      preloadNextDestination();
    } else if (screenMode === "editSearch") {
      $('#search').show();
      $('#destination-display').hide();
    }
  }
  
  function submitInspirationSearch() { 
    if ( !$('#departure-city').val() ) return;
    
    fetch('/inspiration/search', {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ origin: $('#departure-city').val(), destination: $('#destination').val() })
    })
    .then(res => res.json())
    .then(data => {
      destinationResults = data.results;
      currentDestinationIndex = 0;
      currentDestination = destinationResults[currentDestinationIndex];
      screenMode = "destinationView";
      render();
    });
  }

  function preloadNextDestination() {
    if (currentDestinationIndex === destinationResults.length - 1) {
      nextDetinationIndex = 0;
    } else {
      nextDetinationIndex = currentDestinationIndex + 1;
    }
    nextDestination = destinationResults[nextDetinationIndex];
    fetch('/inspiration/new', {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({nextDestination})
    })
    .then(res => res.json())
    .then(data => {
      nextDestination = destinationResults[nextDetinationIndex] = data;
      $('#new-destination').show();
    });
  }

  function showNewDestination() {
    currentDestinationIndex = nextDetinationIndex
    currentDestination = nextDestination;
    console.log('in show new destination');
    screenMode = "destinationView";
    render();
  }

  function editSearch() {
    screenMode = "editSearch";
    render();
  }

</script>



<%- include ../footer.ejs %>